@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Redis Demo App</h1>
    <p class="lead">This demo app uses Redis as its only database.</p>
    <p>In some instances, SQL may actually be a better fit. This app is just a demonstration of how one might deal with a non-relational data store.</p>
    <p>In case you were wondering, this app started on <span style="font-weight: bold;">@ViewBag.AppStarted</span></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Initial Setup</h2>
        <p>The first step just gets a new MVC project up and running, without any database.</p>
        <p>This MVC project runs in IIS Express on port 8000. Right-click the project, go to the Web section, and click "Create Virtual Directory".</p>
        <p>Press F5. You should see the welcome page.</p>
        <p>Congratulations!</p>
    </div>
</div>